<div class="card">
  <div class="card-header ps-5 pt-4 pb-4 d-flex justify-content-center align-items-center">
    <h5 class="mb-0">
      <i class="fa-solid fa-user me-3"></i>Información de la Cita
    </h5>
  </div>
  <div class="card-body p-5 justify-content-center align-items-center">
    <form #f="ngForm">
      <table class="table">
        <tbody>
        <tr>
          <th scope="row">Código:</th>
          <td>{{ detalleCitaMedicoDTO?.codigo }}</td>
        </tr>
        <tr>
          <th scope="row">Paciente:</th>
          <td>{{ detalleCitaMedicoDTO?.nombrePaciente }}</td>
        </tr>
        <tr>
          <th scope="row">Estado Cita:</th>
          <td>{{ detalleCitaMedicoDTO?.estadoCita }}</td>
        </tr>
        <tr>
          <th scope="row">Fecha cita:</th>
          <td>{{ detalleCitaMedicoDTO?.fechaCita }}</td>
        </tr>
        <tr>
          <th scope="row">Código paciente:</th>
          <td>{{ detalleCitaMedicoDTO?.codigoPaciente }}</td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
