/* Estilos para la tarjeta principal */
.card {
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado de la tarjeta principal */
.card .card-header {
    background-color: #87C4FF;
    color: white;
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el cuerpo de la tarjeta principal */
.card .card-body {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la tarjeta interna */
.card .card .card-header {
    background-color: #87C4FF;
    color: white;
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el cuerpo de la tarjeta interna */
.card .card .card-body {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para las etiquetas 'label' */
.card .card .card-body label {
    margin-bottom: 0; /* Eliminar el espacio por defecto entre las etiquetas 'label' */
}

/* Estilos para los campos de la tarjeta */
.card .card .card-body .form-control {
    background-color: #87C4FF;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
}

/* Estilos para el encabezado de la tarjeta interna al pasar el ratón */
.card .card .card-header:hover {
    background-color: #87C4FF;
}

/* Estilos para el encabezado de la tarjeta principal al pasar el ratón */
.card .card-header:hover {
    background-color: #87C4FF;
}
