<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-key me-3"></i>Cambiar Contraseña</h5>
      </div>
    <div class="card-body p-5">
    <form class="rowg-3" #f="ngForm" (ngSubmit)="newCambiarPassword">
        <div class="mb-3 row">
            <label class="visually-hidden">Usuario</label>
            <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" name="correo" [(ngModel)]="cambiarPassword.correo">
        </div>
        <div class="mb-3 row">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword1" placeholder="Password Antigua" name="password" [(ngModel)]="cambiarPassword.passwordAntigua">
        </div>

        <div class="mb-3 row">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password Nueva" name="password" [(ngModel)]="cambiarPassword.passwordNueva">
        </div>
        <button (click)="newCambiarPassword()" class="btn btn-primary" type="submit">
            <i class="fa-solid fa-circle-plus me-1"></i>Actualizar Datos
        </button>
    </form>
    </div>
</div>
