<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0">
            <i class="fa-solid fa-comments me-3"></i>Historial Citas
        </h5>
    </div>


    <div class="card-body p-5">


        <br>


        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Codigo cita</th>
                <th>Fecha y Hora</th>
                <th>Nombre Medico</th>
                <th>Especialidad</th>
                <th>Motivo</th>
                <th>Estado </th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr *ngFor="let item of citas">
                <td>
                    <p>{{ item.codigoCita }}</p>
                </td>
                <td>
                    <p>{{ item.horario }}</p>
                </td>
                <td>
                    <p>{{ item.medico }}</p>
                </td>
                <td>
                    <p>{{ item.especialidad }}</p>
                </td>
                <td>
                    <p>{{ item.Motivo}}</p>
                </td>
                <td>
                    <p>{{ item.estadoCita}}</p>
                </td>

                <td>
                    <a routerLink="/detalle-cita/{{ item.codigoCita}}"
                    ><i class="fa-solid fa-circle-info me-2"></i>Ver detalles</a
                    >
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
