/* Estilo para la tarjeta (card) */
.card {
    margin-top: 1rem;
}

.card-header {
    background-color: #87C4FF;
    color: white;
}

.card-header i {
    font-size: 1.5rem;
}

.card-body {
    padding: 1.25rem;
}

/* Estilo para el botón "Crear" */
.btn-success {
    background-color: #87C4FF;
    color: white;
}

.btn-success:hover {
    background-color: #87C4FF;
}

/* Estilo para la tabla */
.table {
    text-align: center;
}

.table thead {
    background-color: #87C4FF;
    color: white;
}

/* Estilo para las filas de la tabla */
.table-group-divider tr {
    border-bottom: 1px solid #ccc;
}

/* Estilo para los estados de las PQRS */
.text-bg-success {
    background-color: #87C4FF;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.text-bg-danger {
    background-color: #87C4FF;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.text-bg-success, .text-bg-danger {

    margin: 0.25rem;
}

/* Estilo para los enlaces "Ver detalle" */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Estilo para la tarjeta (card) */
.card {
    margin-top: 1rem;
}

.card-header {
    background-color: #87C4FF;
    color: white;
}

.card-header i {
    font-size: 1.5rem;
}

.card-body {
    padding: 1.25rem;
}

/* Estilo para el botón "Crear" */
.btn-success {
    background-color: #87C4FF;
    color: white;
}

.btn-success:hover {
    background-color: #87C4FF;
}

/* Estilo para la tabla */
.table {
    text-align: center;
}

.table thead {
    background-color: #87C4FF;
    color: white;
}

/* Estilo para las filas de la tabla */
.table-group-divider tr {
    border-bottom: 1px solid #ccc;
}

/* Estilo para los estados de las PQRS */
.text-bg-success {
    background-color: #87C4FF;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.text-bg-danger {
    background-color: #87C4FF;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.text-bg-success, .text-bg-danger {

    margin: 0.25rem;
}

/* Estilo para los enlaces "Ver detalle" */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
