<div class="card">
    <form class="rowg-3" #f="ngForm" (ngSubmit)="CambiarPasswordOlvidada">
        <div class="container">
            <label class="label">Cambiar Contraseña</label>
        </div>
        <div class="container">
            <label class="visually-hidden">Usuario</label>
            <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" name="correo" [(ngModel)]="cambiarPasswordOlvidada.correo">
        </div>
        <div class="container">
            <label for="inputPassword" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" [(ngModel)]="cambiarPasswordOlvidada.passwordNueva">
        </div>

        <button (click)="CambiarPasswordOlvidada()" class="btn btn-primary" type="submit">
            <i class="fa-solid fa-circle-plus me-1"></i>Cambiar Contraseña
        </button>
        <!--        <div class="container">-->
        <!--            <p><a href="#" class="link-underline-primary">¿Olvido su contraseña?</a></p>-->
        <!--            <button type="submit" class="btn btn-primary mb-3">Iniciar Sesion</button><br>-->
        <!--            <label>¿Aún no tienes cuenta?</label>-->
        <!--            <p><a href="#" class="link-underline-primary">Crear Cuenta</a></p>-->
        <!--        </div>-->
    </form>
</div>
