
body {
    font-family: 'Arial', sans-serif;
    background-color: #14008d;
}

.container {
    margin-top: 20px;
}


.table-info {
    background-color: #14008d;
    color: #fff;
}

.table-group-divider {
    background-color: #14008d;
}

.btn-primary {
    background-color: #14008d;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #ffffff;
    border-color: #14008d;
}


.form-control {
    margin-bottom: 10px;
}

.invalid-feedback {
    color: #dc3545;
}


.header {
    background-color: #14008d;
    color: #fff;
    padding: 15px;
}

.header a {
    color: #fff;
}

.header a:hover {
    text-decoration: none;
    color: #ffcc00;
}


.footer {
    background-color: #14008d;
    color: #fff;
    padding: 10px 0;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: none;
    color: #ffcc00;
}

